<h3 class="fw-bold text-neutral-2 mt-3" id="data-ruid" data-ruid="{{ruid}}">Edit Room "{{roomDetail.name}}"</h3>

<form class="card-form mt-4">
    <div class="form-group d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mt-3">
        <label for="card-name" class="form-label fw-bold text-neutral-2 fs-5 me-3">Room Name</label>
        <input type="text" class="form-control rounded-13" name="cardName" id="room-name"
            placeholder="Room name" value="{{roomDetail.name}}">
    </div>

    <div class="form-group d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mt-3">
        <label for="card-name" class="form-label fw-bold text-neutral-2 fs-5 me-3">DUID</label>
        <input type="text" class="form-control rounded-13" name="cardName" id="duid"
            placeholder="Choose DUID from table below" value="{{roomDetail.device.device_id}}">
    </div>

    <div class="form-group d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mt-3">
        <label for="buildingName" class="form-label fw-bold text-neutral-2 fs-5 me-3">Building Name</label>
        <input type="text" class="form-control rounded-13" name="cardName" id="buildingName"
            value="{{roomDetail.Building.name}}">
    </div>

    <div class="form-group d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mt-3">
        <label for="buildingId" class="form-label fw-bold text-neutral-2 fs-5 me-3">BUILDING ID</label>
        <input type="text" class="form-control rounded-13" disabled name="cardName" id="buildingId" value="{{roomDetail.Building.id}}" >
    </div>

    <div class="form-group d-flex align-items-center justify-content-between mt-3">
        <label for="room-status" class="form-label fw-bold text-neutral-2 fs-5 pointer">Room Active</label>
            <div class="form-check form-switch">
                <input class="form-check-input pointer" type="checkbox" role="switch" id="room-status" title="roomActive" 
                    {{#if roomDetail.isActive}}
                        checked
                    {{/if}}
                >
            </div>
    </div>

    <div class="mt-4">
        <h4 class="fw-bold text-neutral-2">Daily Access Time</h4>

        <div class="row mt-2">
            <div class="col-3">
                <label class="form-label fw-bold text-neutral-2 fs-5 pointer">Sunday</label>
            </div>
            <div class="col-3 d-flex align-items-center gap-5">
                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="sundayStartAccessTime">Start:</label>
                    <input value="{{roomDetail.sundayStartAccessTime}}" id="sundayStartAccessTime" name="sundayStartAccessTime" min="0" max="23" type="number">
                </div>

                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="sundayEndAccessTime">End:</label>
                    <input value="{{roomDetail.sundayEndAccessTime}}" id="sundayEndAccessTime" name="sundayEndAccessTime" min="0" max="23" type="number">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label class="form-label fw-bold text-neutral-2 fs-5 pointer">Monday</label>
            </div>
            <div class="col-3 d-flex align-items-center gap-5">
                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="mondayStartAccessTime">Start:</label>
                    <input value="{{roomDetail.mondayStartAccessTime}}" id="mondayStartAccessTime" name="mondayStartAccessTime" min="0" max="23" type="number">
                </div>

                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="mondayEndAccessTime">End:</label>
                    <input value="{{roomDetail.mondayEndAccessTime}}" id="mondayEndAccessTime" name="mondayEndAccessTime" min="0" max="23" type="number">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label class="form-label fw-bold text-neutral-2 fs-5 pointer">Tuesday</label>
            </div>
            <div class="col-3 d-flex align-items-center gap-5">
                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="tuesdayStartAccessTime">Start:</label>
                    <input value="{{roomDetail.tuesdayStartAccessTime}}" id="tuesdayStartAccessTime" name="tuesdayStartAccessTime" min="0" max="23" type="number">
                </div>

                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="tuesdayEndAccessTime">End:</label>
                    <input value="{{roomDetail.tuesdayEndAccessTime}}" id="tuesdayEndAccessTime" name="tuesdayEndAccessTime" min="0" max="23" type="number">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label class="form-label fw-bold text-neutral-2 fs-5 pointer">Wednesday</label>
            </div>
            <div class="col-3 d-flex align-items-center gap-5">
                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="wednesdayStartAccessTime">Start:</label>
                    <input value="{{roomDetail.wednesdayStartAccessTime}}" id="wednesdayStartAccessTime" name="wednesdayStartAccessTime" min="0" max="23" type="number">
                </div>

                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="wednesdayEndAccessTime">End:</label>
                    <input value="{{roomDetail.wednesdayEndAccessTime}}" id="wednesdayEndAccessTime" name="wednesdayEndAccessTime" min="0" max="23" type="number">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label class="form-label fw-bold text-neutral-2 fs-5 pointer">Thursday</label>
            </div>
            <div class="col-3 d-flex align-items-center gap-5">
                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="thursdayStartAccessTime">Start:</label>
                    <input value="{{roomDetail.thursdayStartAccessTime}}" id="thursdayStartAccessTime" name="thursdayStartAccessTime" min="0" max="23" type="number">
                </div>

                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="thursdayEndAccessTime">End:</label>
                    <input value="{{roomDetail.thursdayEndAccessTime}}" id="thursdayEndAccessTime" name="thursdayEndAccessTime" min="0" max="23" type="number">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label class="form-label fw-bold text-neutral-2 fs-5 pointer">Friday</label>
            </div>
            <div class="col-3 d-flex align-items-center gap-5">
                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="fridayStartAccessTime">Start:</label>
                    <input value="{{roomDetail.fridayStartAccessTime}}" id="fridayStartAccessTime" name="fridayStartAccessTime" min="0" max="23" type="number">
                </div>

                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="fridayEndAccessTime">End:</label>
                    <input value="{{roomDetail.fridayEndAccessTime}}" id="fridayEndAccessTime" name="fridayEndAccessTime" min="0" max="23" type="number">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label class="form-label fw-bold text-neutral-2 fs-5 pointer">Saturday</label>
            </div>
            <div class="col-3 d-flex align-items-center gap-5">
                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="saturdayStartAccessTime">Start:</label>
                    <input value="{{roomDetail.saturdayStartAccessTime}}" id="saturdayStartAccessTime" name="saturdayStartAccessTime" min="0" max="23" type="number">
                </div>

                <div class="d-flex gap-3">
                    <label class="fw-bold text-neutral-2 fs-6 pointer text-sm" for="saturdayEndAccessTime">End:</label>
                    <input value="{{roomDetail.saturdayEndAccessTime}}" id="saturdayEndAccessTime" name="saturdayEndAccessTime" min="0" max="23" type="number">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group d-flex align-items-center justify-content-end mt-3 pointer" id="create-button">
        <p class="text-center bg-blue-4 text-neutral-5 pointer px-3 py-1 rounded-13" >Update</p>
    </div>
</form>

<div
    class="table-action mt-4 mt-lg-2 mt-xl-0 d-flex flex-column flex-sm-row justify-content-sm-between justify-content-start align-items-sm-center">
    <h3 class="text-neutral-2 fw-light mb-2 mb-sm-0">Available Hardware</h3>
    <form class="serach--form">
        <div class="input-group shadow-c-1 rounded-13">
            <input type="text" class="form-control rounded-13" placeholder="Search Hardware" name="api"
                id="hw">
            <div class="input-group-prepend p-2 rounded-13">
                <img src="/image/icon_search.svg" alt="Icon search card" class="form-icons">
            </div>
        </div>
    </form>
</div>

<div class="api-list mt-3">
    <div class="table-header d-flex justify-content-between bg-neutral-7 py-2 rounded-13 mb-3 px-3">
        <p class="table-data text-center fw-bold text-neutral-2">No</p>
        <p class="table-data text-center fw-bold text-neutral-2 hover-tool pointer"
            data-hover="Device Unique ID">
            DUID
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                class="bi bi-question-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
            </svg>
        </p>
        <p class="table-data text-center fw-bold text-neutral-2 hover-tool pointer"
            data-hover="The first time the device is registered to system">
            Register Time
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                class="bi bi-question-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
            </svg>
        </p>
        <p class="table-data text-center fw-bold text-neutral-2">Action</p>
    </div>

    <div class="table-content bg-neutral-7 rounded-13 shadow hw-container">
        {{#each hardwareList}}
            <div class="table-row d-flex align-items-center py-1 py-md-2 justify-content-between px-3 hardware--list-item" id="hw-{{this.id}}" data-id="{{this.id}}">
                <span class="table-data align-middle text-center text-neutral-2">{{inc @index}}</span>
                <p class="table-data text-center text-neutral-2" data-duid="{{this.device_id}}">
                    {{this.device_id}}</p>
                <p class="table-data text-center text-neutral-2">
                    {{days this.createdAt}}</p>
                <span
                    class="table-data text-center align-bottom text-blue-4 fw-bold pointer bg-blue-2 py-1 rounded-13 choose" onclick="chooseHandler('{{this.device_id}}')">
                    Choose
                </span>
            </div>
        {{/each}}
    </div>
    <p class="text-center mt-3 py-2 rounded-13 pointer bg-neutral-6" id="showMore">Show More</p>
</div>