<h3 class="fw-normal text-neutral-2 mt-3" data-uuid="{{userData.id}}" id="user-uuid">Profile For <span class="fw-bold" id="username">{{userData.username}}</span></h3>

<div class="row profile-container">
    <div class="col-12 col-lg-4 p-2">
        <img src="{{avatar}}" alt="Foto user"
            class="profil-img-container bg-neutral-6 rounded-13">
        <form class="mt-3 d-none">
            <input class="form-control" type="file" id="profil-picture" name="profilPicture">
        </form>
        <div for="profil-picture"
            class="mt-3 pointer py-2 rounded-13 text-white fw-normal bg-blue-3 d-flex justify-content-center align-items-center form-upload-trigger">
            <img src="/image/icon_upload.svg" alt="Upload" class="icon-upload me-3">
            <p class="fs-5">Upload</p>
        </div>
    </div>

    <div class="col-12 col-lg-8 p-sm-2 p-0">
        <form class="bg-neutral-6 px-4 py-5 rounded-13" id="profile-form">
            <h3 class="fw-bold text-blue-3 form-header">Change Username & Email</h3>
            <div class="form-group mt-4">
                <label for="username" class="fw-bold fs-5 text-blue-3">Username</label>
                <input type="text" class="form-control rounded-13 mt-1" id="username"
                    placeholder="Username" value="{{userData.username}}" name="username">
            </div>

            <div class="form-group mt-3">
                <label for="full-name" class="fw-bold fs-5 text-blue-3">Full Name</label>
                <input type="text" class="form-control rounded-13 mt-1" id="full-name"
                    placeholder="Full Name" value="{{userData.profil.full_name}}" name="full_name">
            </div>

            <div class="form-group mt-3">
                <label for="email" class="fw-bold fs-5 text-blue-3">Email</label>
                {{#if userData.emailIsVerified}}

                <input type="email" class="form-control rounded-13 mt-1" placeholder="Email" value="{{userData.email}}" name="email">

                {{else}}
                <div class="d-flex align-items-center mb-2">
                    <input type="email" class="form-control rounded-13 mt-1" id="email" placeholder="Email" value="{{userData.email}}" name="email">
                    <p class="px-2 bg-danger-1 text-neutral-7 ms-2 rounded-5" id="email-status">
                        Email not verified
                    </p>
                </div>
                {{/if}}

            </div>

            <button type="submit" id="save-profil"
                class="btn bg-blue-3 text-neutral-5 fw-bold mt-4 px-4 py-2 rounded-13">Save</button>
        </form>

        <form class="bg-neutral-6 px-4 py-5 rounded-13 mt-4 mb-5" id="password">
            <h3 class="fw-bold text-blue-3 form-header">Change Password</h3>

            <div class="form-group mt-3">
                <label for="password" class="fw-bold fs-5 text-blue-3">New Password</label>
                <input type="password" class="form-control rounded-13 mt-1" id="newPassord" name="newPassord">
            </div>

            <button type="submit" id="save-password"
                class="btn bg-blue-3 text-neutral-5 fw-bold mt-4 px-4 py-2 rounded-13">Save</button>
        </form>
    </div>
</div>

<h3 class="mb-3 text-neutral-2 fw-bold">Available Room Access</h3>
<div class="table-header d-flex justify-content-around bg-neutral-7 py-2 rounded-13 mb-3 px-3">
    <p class="table-data fw-bold text-center text-neutral-2">Room</p>
    <p class="table-data fw-bold text-center text-neutral-2">Action</p>
</div>

<div class="table-content bg-neutral-7 rounded-13 shadow accessable-container">
    {{!-- DATA HERE --}}
</div>
<p class="text-center mt-4 pointer py-2 rounded-13 bg-neutral-6 mb-5" id="showMoreAccessable">Show More</p>

<h3 class="mb-3 text-neutral-2 fw-bold">Card History</h3>
<div class="table-header d-flex justify-content-around bg-neutral-7 py-2 rounded-13 mb-3 px-3">
    <p class="table-data fw-bold text-center text-neutral-2">Room</p>
    <p class="table-data fw-bold text-center text-neutral-2">Time</p>
</div>

<div class="table-content bg-neutral-7 rounded-13 shadow history-container">
    {{!-- DATA HERE --}}
</div>

<p class="text-center mt-4 pointer py-2 rounded-13 bg-neutral-6 mb-5" id="showMore">Show More</p>